<h2>Print</h2>

In [1]:
print("hello")

hello

In [4]:
frate="emi"
print("fratele me este {}".format(frate))

fratele me este emi

In [6]:
sora= "Elena"
varsta=100
print("fratele meu este {} si sora mea este {}, amndoi au {} ani".format(frate,sora,varsta))

fratele meu este emi si sora mea este Elena, amndoi au 100 ani

<h2>some inbuilt functions</h2>

In [9]:
len(sora)

5

<h4>THE TYPE FUNCTION</h4>

In [16]:
type(sora)

str

In [19]:
type(1.0)

float

<h1>Lists
</h1>

Lists are a data structure in python, it is mutable, changable and can contain any element inside it

In [22]:
type([])

list

There is also an inbuild function called list that can make lists

In [27]:
lst=list()
type(lst)

list

In [33]:
lst=["ceva", "mate", "fizica", 100, 200, False, 0<1]
print(lst)
len(lst)   # the len function will return the number of items

['ceva', 'mate', 'fizica', 100, 200, False, True]

7

<h3>Append</h3>
Is a fucntion that allows us to add more elements to a list

In [38]:
lst.append("computer")
print(lst)          # click 5 times and it will add it five times

['ceva', 'mate', 'fizica', 100, 200, False, True, 'computer', 'computer', 'computer', 'computer', 'computer']

We can use append with multiple inputs and it will create a nested list inside the original one

In [50]:
lst_test=[1,2,3,4]
lst_test.append([5,6])
print(lst_test)

[1, 2, 3, 4, [5, 6]]

<h3>Extend</h3>
On the other hand, the extend method adds the elements without nesting them

In [51]:
lst_test1=[1,2,3,4]
lst_test1.extend([5,6])
print(lst_test1)

[1, 2, 3, 4, 5, 6]

<h3>Insert</h3>

In [40]:
lst.insert(0,"first")
print(lst)          #click 2 times

['first', 'first', 'ceva', 'mate', 'fizica', 100, 200, False, True, 'computer', 'computer', 'computer', 'computer', 'computer']

<h3>Getting specific elements</h3>

In [42]:
lst[3]

'mate'

In [45]:
lst[2:4]   #from index 2 including to 4 but without it

['ceva', 'mate']

In [46]:
lst[2:]

['ceva',
 'mate',
 'fizica',
 100,
 200,
 False,
 True,
 'computer',
 'computer',
 'computer',
 'computer',
 'computer']

In [47]:
lst[:6]

['first', 'first', 'ceva', 'mate', 'fizica', 100]

In [43]:
lst[:]

['first',
 'first',
 'ceva',
 'mate',
 'fizica',
 100,
 200,
 False,
 True,
 'computer',
 'computer',
 'computer',
 'computer',
 'computer']

<h3>Pop</h3>
this will delete an item. if no item is specified than it will remove the last item

In [52]:
lst.pop()
print(lst)

[1, 2, 3, 4]

In [53]:
lst.pop(0)

1

In [54]:
print(lst)

[2, 3, 4]

<h2>Count() method</h2>
It will count the occurences of a certain item inside the list

In [56]:
LST=[1,2,2,2,3,4,5]
LST.count(2)

3

<h3>Index</h3>
Play with indexes

In [61]:
lst_2=[34,35,36,37,38,39]
lst_2.index(34)     #will return the index of the number 34
lst_2.index(34,0,4) #index(number, start, stop), the first parameter is the number to find
                    #the second is the index to start the search from and the third is to stop

0

<h2>Min and max</h2>

In [63]:
min(lst_2)

34

In [64]:
max(lst_2)

39

<h5>If we use the * operator it will multiply the list, but not the values inside</h5>

In [67]:
print(lst_2)
lst_2*3
#print(lst_2)   #ofc in the end it will not modify the list if we don't assign it

[34, 35, 36, 37, 38, 39]

[34, 35, 36, 37, 38, 39, 34, 35, 36, 37, 38, 39, 34, 35, 36, 37, 38, 39]

<h1>SETS</h1>
<h4>Are unordered collections that are iterable,mutable and has no duplicate</h4>
<h4>Based on hash table</h4>

In [68]:
# create an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [69]:
#initialized with {}
set_var={1,2,3,4,3}   #every element can appear at most once
print(set_var)

{1, 2, 3, 4}

<h3>Inbuilt functions of sets</h3>

In [72]:
# indexing does not work
#set_var[0] will give an error

In [73]:
#Adding
set_var.add("emi")
print(set_var)

{'emi', 1, 2, 3, 4}

<h4>Sets are like in math and we can do set operations like differnce, intersection and others:</h4>

In [75]:
set1={1,2,3,4,5}
set2={3,4,5,6,7,8}

In [76]:
#DIFFERENCE
set2.difference(set1)

{6, 7, 8}

In [77]:
#if we want to update set2 to the difference we have the difference_update() funciton
set2.difference_update(set1)
print(set2)

{6, 7, 8}

In [83]:
#INTERSECTION
set2={3,4,5,6,7,8}    #get the initial definition of set 2
set2.intersection(set1)

{3, 4, 5}

In [84]:
set2.intersection_update(set1)
print(set2)

{3, 4, 5}

<h1>DICTIONARIES</h1>
<h5>Is a collection that is unordered, changable and indexed </h5>
<h5>Written in {}, they have keys and values</h5>

In [85]:
#create empty dictionary
dic={}
type(dic)

dict

In [89]:
#create a dictionary
#we use pairs of <"key":"value">
dic={"car1":"vw", "car2":"mercedes", "car3":"audi"}
dic['car2']         #access a specific item through indexing

'mercedes'

In [91]:
#we can use for loops to go through the keys
for i in dic:
    print(i)

car1
car2
car3

In [94]:
# we can also go through the values with .values() function
for i in dic.values():
    print(i)

vw
mercedes
audi

In [95]:
#and we can also print the pairs of items using .items() function
for i in dic.items():
    print(i)

('car1', 'vw')
('car2', 'mercedes')
('car3', 'audi')

In [97]:
#adding new items
dic["car4"]='volvo'
print(dic)

{'car1': 'vw', 'car2': 'mercedes', 'car3': 'audi', 'car4': 'volvo'}

In [98]:
#we can also replace values of keys
dic["car1"]="jaguar"
print(dic)

{'car1': 'jaguar', 'car2': 'mercedes', 'car3': 'audi', 'car4': 'volvo'}

<h3>Nested Dictionaries</h3>

In [100]:
car1_model={"mercedes":2004}
car2_model={"audi":2005}
car3_model={"ferrari":2006}

#create a nested dictionary
# {key:{key:value}}
car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}
print(car_type)

{'car1': {'mercedes': 2004}, 'car2': {'audi': 2005}, 'car3': {'ferrari': 2006}}

In [101]:
#INDEXING
#using only 1 key
print(car_type["car1"])

{'mercedes': 2004}

In [102]:
#using 2 keys
print(car_type["car1"]["mercedes"])

2004

<h2>TUPLES</h2>
Unmutable, created using (), we can not use operations on it, but we can change it whole

In [104]:
#create emtpy tuple
tup=tuple()
type(tup)

tuple

In [107]:
tup=("car","house","kids")
#indexing
tup[0]

'car'

In [110]:
#tuple does not support item assignment
#tup[0]="sth"  will give an error
#anyway we can change the whole tuple at once
tup=("mercedes","vw","volvo")
print(tup)

('mercedes', 'vw', 'volvo')

In [111]:
#count
tup.count("mercedes")

1

In [112]:
#inexing
tup.index("mercedes")

0