<h1>Functions</h1>
Why?

How to write a function?

In [1]:
num=20

if num%2==0:
    print('n is even')
else:
    print('n is odd')

n is even

In [6]:
#create a function
def even_odd(num):
    if num%2==0:
      print('n is even')
    else:
      print('n is odd')

In [7]:
#let's test the function
even_odd(45)

n is odd

In [8]:
#print vs return
def hello():
    print('hello bro')

In [9]:
hello()

hello bro

In [13]:
#we can see that this function doesn't return anything
val=hello()
print(val)     #this won't return anything

hello bro
None

In [14]:
#now let's return it
def hello():
    return'hello bro'

In [16]:
val=hello()

In [18]:
#this will return
print(val)

hello bro

In [19]:
def add_num(num1,num2):
    return num1+num2

In [21]:
sum=add_num(23,4)

In [22]:
print(sum)

27

In [32]:
# the first argument is 'positional'
# second one is of type keywork (key-value)
def name_age(name,age=20):
    print("My name is {} and my age is {}".format(name,age))

In [31]:
name_age('Emi')

My name is Emi and my age is 20

In [33]:
#to understand better how arguments and keyword arguments work
def name(*args,**kwargs):
    print(args)
    print(kwargs)

In [35]:
# let's test it and see the output
name(20,34,'emi',age=44,name='emanuel')

(20, 34, 'emi')
{'age': 44, 'name': 'emanuel'}

In [44]:
#let's see how to return 2 different values in one function
def odd_even_sum(lst):
    odd_sum=0
    even_sum=0
    for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return odd_sum,even_sum

In [45]:
lst=[1,2,3,4,5,6,7,8]

In [46]:
odd_even_sum(lst)

(16, 20)

<h1>Map function in python</h1>

In [48]:
# let s start by creating a simple function
def odd_or_even(num):
    if num%2==0:
        return 'the number {} is even'.format(num)
    else:
        return'the number {} is odd'.format(num)

In [49]:
odd_or_even(24)

'the number 24 is even'

So far we did this with one number at a time

Let's assume that we want to apply this funciton to multile numbers at the same time

In [50]:
#let s say we have this list
lst=[1,2,4,5,67,78,23,45]

One way would be to iterate thorugh each element with a for loop, but it is time consuming

Another way is to use map function

In [51]:
# first parameter is the function
# second parameter is the argument
map(odd_or_even,lst)

We can see that a map object was created at a memory loaction

In [55]:
#we can get the result by converting it to a list
# we use the inbuilt function 'list' to create such a list
list(map(odd_or_even,lst))

['the number 1 is odd',
 'the number 2 is even',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 67 is odd',
 'the number 78 is even',
 'the number 23 is odd',
 'the number 45 is odd']

# Lambda function

also called anonymous funciton

In [58]:
# let s say we have a simple funtion
def addition(a,b):
     return a+b

In [59]:
addition(1,2)

3

In [60]:
#convert to lambda function
lambda a,b:a+b

In [63]:
#we can store the new function in a variable
# note that this is a  varaible and not a function
val_addition=lambda a,b:a+b

In [64]:
val_addition(4,5)

9

In [67]:
type(val_addition)

function

In [68]:
#let s create a function and convert it to amba function
def even(num):
    if num%2==0:
        return True

In [69]:
even_var=lambda num:num%2==0

In [70]:
even_var(3)

False

In [73]:
#another example
varmfka=lambda s:s-4

In [74]:
varmfka(5)

1

# Filter function

In [75]:
def eeven(num):
    if num%2==0:
        return True

In [76]:
#let s say we want the function to pass through all the elements of a list
lst=[1,2,3,4,5,6,7,8,9,0]

In [77]:
# similar to map we have a function 'filter'
# first argument is th efunciton name
# second arg is the value
filter(eeven,lst)

In [78]:
list(filter(eeven,lst))

[2, 4, 6, 8, 0]

In [81]:
# we can convert it to a lambda function
#this way we can do evrything in just one line of code instead of all we did before
list(filter(lambda num:num%2==0,lst ))

[2, 4, 6, 8, 0]

In [82]:
# on the other hand if we use map we get the return value for each element
# this is the difference between map and filter
list(map(lambda num:num%2==0,lst ))

[False, True, False, True, False, True, False, True, False, True]